	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/08/2020 22:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff2") format("woff2"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /* font-size: 20px; */
font-style: normal;
/* margin-left: 20px; */
}

.flaticon-ssl-certificate:before { content: "\f100"; }
.flaticon-certificate:before { content: "\f101"; }
.flaticon-file:before { content: "\f102"; }
.flaticon-contract:before { content: "\f103"; }
.flaticon-sign:before { content: "\f104"; }
.flaticon-business:before { content: "\f105"; }
.flaticon-paper:before { content: "\f106"; }
.flaticon-calendar:before { content: "\f107"; }
.flaticon-patent:before { content: "\f108"; }